body {
  margin: 0;
  background-color: #008abe;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 8vh;
}

/* SIGN IN PAGE */

#signin,
#register {
  display: flex;
  justify-content: center;
}

#signin .card,
#register .card {
  padding: 5px;
  margin: 5rem;
}

#signin h1,
#register h1 {
  display: flex;
  justify-content: center;
}

#signin div,
#register div {
  margin-top: 5px;
}

#signin button,
#register button {
  margin: auto;
  display: flex;
  background-color: #008abe;
}

#homepage {
  display: flex;
}

#home {
  width: 70%;
  margin: 4px, 4px;
  padding: 4px;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

#side {
  width: 30%;
  margin-left: 5px;
}

@media screen and (max-width: 700px) {
  #homepage {
    flex-direction: column;
  }

  #home {
    width: 100%;
  }
  #side {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  /* PROFILE PAGE */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 3%;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }
}

/* NOTIFICATION PAGE */

.unseen {
  background-color: white;
  box-shadow: -3px -3px whitesmoke;
}

.seen {
  background-color: whitesmoke;
}
