@use "../base";

.brand {
  font-family: base.$font-brand;
  color: base.$color-teal;
}

.notif {
  position: relative;
}

.badge {
  position: absolute;
}

.loading {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-sm,
.text-xs {
  @media screen and (min-width: 500px) {
    font-size: large !important;
  }
}
