.card {
  background-color: white;
  border: solid 0.1%;
  border-bottom: 0;
  border-color: grey;
  border-radius: 0;
}

.card_nav {
  text-decoration: none;
  color: black;
}

.col_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.img {
  width: 50%;
  border-radius: 999px;
}

.navlink,
.navlink:hover {
  color: black;
}

.card_nav:hover {
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
}

.header {
  height: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 400;
}

.header_button {
  margin-left: auto;
  margin-right: 0;
}

.like_button {
  width: 3rem;
  height: 2.5rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

.text {
  margin: 0;
  padding: 0;
}

.navlink {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navlink:hover {
  text-decoration: underline;
}

.object {
  padding: 0;
}

.like_button:hover {
  background-color: #008abe;
}

.footer {
  height: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
}
